
		<div class="tab_container">
			<input id="tab1" type="radio" name="tabs" checked>
                        <label for="tab1"><i class="fa fa fa-align-left"></i><span>&nbsp; Textão </span></label>

			<input id="tab2" type="radio" name="tabs">
			<label for="tab2"><i class="fa fa-camera-retro"></i><span> &nbsp;Foto(s) </span></label>

			<input id="tab3" type="radio" name="tabs">
			<label for="tab3"><i class="fa fa-bar-chart-o"></i><span>Enquetes</span></label>

			<input id="tab4" type="radio" name="tabs">
			<label for="tab4"><i class="fa fa-video-camera"></i><span>Video(s)</span></label>

			<input id="tab5" type="radio" name="tabs">
			<label for="tab5"><i class="fa fa-mobile"></i><span> &nbsp;Status&nbsp; </span></label>

			

			

			

			

			
		</div>

  